<div class="fade_in centered">
  <form hx-get="/host/submit?session={{ session }}" hx-target="body" hx-swap="innerHTML">
    <label for="amount">Amount</label><br>
    <input type="number" id="amount" name="amount" value="100">
    {% for folder in folders %}
    <input type="checkbox" id="{{ folder }}" name="folders" value="{{ folder }}">
    <label for="{{ folder }}">{{ folder }}</label><br>
    {% endfor %}
    <button class="btn green_btn"><code class="larger">Start the roulette...</code></button>
  </form>
</div>