<div class="fade_in">
  <div id="player_wrapper" class="fade_in">
    <!-- OvenPlayer will be initialized inside this element. -->
    <div id="player_id"></div>

  </div>

  <script>
    var oven_player = OvenPlayer.create('player_id', {
      playlist: [
        {% for shitpost in shitposts %}
          {
        title: "{{ shitpost.title }}",
        sources: [{
          file: "{{ shitpost.url }}"
        }]
      },
      {% endfor %}
        ],
    autoStart: true,
      });


    var socket = new WebSocket("ws://" + location.host + "/player/socket?session={{ session }}");

    socket.addEventListener("message", (msg) => {
      console.log(msg.data);
      let json = JSON.parse(msg.data);

      if (msg.data.includes("sync_position")) {
        socket.send(JSON.stringify({Position: oven_player.getPosition()}));
      } else if (msg.data.includes("change_state")) {
        switch (json.change_state) {
          case "playing":
            oven_player.play();
            break;
          case "paused":
            oven_player.pause();
            break;
        }
      } else if (msg.data.includes("change_position")) {
        let pos = oven_player.getPosition();
        if (!(json.change_position < pos + 0.25 && json.change_position > pos - 0.25)) {
          oven_player.seek(json.change_position);
        }
      } else if (msg.data.includes("change_playlist")) {
        if (oven_player.getCurrentPlaylist() != json.change_playlist) {
          oven_player.setCurrentPlaylist(json.change_playlist);
        }
      }
    });

    oven_player.on('seeked', (data) => {
      socket.send('"Seeked"');
    });

    oven_player.on('playlistChanged', (data) => {
      socket.send(JSON.stringify({PlaylistChanged: data}))
    });

    oven_player.on('stateChanged', (data) => {
      socket.send(JSON.stringify({StateChanged: data.newstate}));
    });
  </script>
</div>